<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol price/100.0 %>
  </td>
</tr>